@model HeaderViewModel;

<!-- Шапка сайта -->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <!-- Логотип -->
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">PinBook</a>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">

                    <!-- Навигация -->>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="">Главаная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="">Списки книг</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="">О сайте</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="">Блог</a>
                    </li>
                    @if (Model.IsAuthenticated)
                    {
                        <!-- Выпадающее меню -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @Model.ShowName
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                <li><a href="#" class="dropdown-item disabled">Ваш профиль</a></li>
                                <li><a href="#" class="dropdown-item disabled">Ваши списки</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Выйти</a></li>
                            </ul>
                        </li>
                    } else
                    {
                        <!-- Кнопка входа -->
                        <li class="nav-item">
                            <a class="navbar-item btn btn-outline-primary" asp-action="Login" asp-controller="Account">Войти</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>