<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/customlayoutstyle.css" asp-append-version="true" />
        <title>@ViewBag.Title</title>
    </head>

    <body class="bg-light">

        <!-- Шапка сайта -->
        <vc:header />

        @RenderBody()

        <script src="~/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>

    </body>
</html>